table,td,button{
    border:1px solid #ffa0ea;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(202, 161, 193);
}
table{
    border-collapse:collapse;
}
body{
    background-image: url('uploads/z2776746991826_6fd2c100efca9b87e780eddf21a40db7.jpg');
    background-repeat: no-repeat;
    }