table, th, td{
    border:1px solid #868585;
}
table{
    border-collapse:collapse;
}
table tr:nth-child(odd){
    background-color:rgba(238, 238, 238, 0.61);
}
table tr:nth-child(even){
    background-color:rgb(255, 255, 255);
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
}
input[type=password] {
    width: 100%;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=reset] {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
body{
    background-image: url('uploads/untitled13.png');
    background-repeat: no-repeat;
    background-size: 1600px 900px;
}
